In [2]:
import pandas as pd

In [7]:
df   = pd.read_csv('property2.csv')
df                                             #  UniqueID	PropertyAddress	LandUse	SalePrice	SaleDate	LandValue	BuildingValue	TotalValue	YearBuilt	Bedrooms	SoldAsVacant

,UniqueID,PropertyAddress,LandUse,SalePrice,SaleDate,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,SoldAsVacant
0,2045,"1808 FOX CHASE DR, GOODLETTSVILLE",SINGLE FAMILY,240000,"April 9, 2013",50000.0,168200.0,235700.0,1986.0,3.0,No
1,16918,"1832 FOX CHASE DR, GOODLETTSVILLE",SINGLE FAMILY,366000,"June 10, 2014",50000.0,264100.0,319000.0,1998.0,3.0,No
2,54582,"1864 FOX CHASE DR, GOODLETTSVILLE",SINGLE FAMILY,435000,"September 26, 2016",50000.0,216200.0,298000.0,1987.0,4.0,No
3,43070,"1853 FOX CHASE DR, GOODLETTSVILLE",SINGLE FAMILY,255000,"January 29, 2016",50000.0,147300.0,197300.0,1985.0,3.0,No
4,22714,"1829 FOX CHASE DR, GOODLETTSVILLE",SINGLE FAMILY,278000,"October 10, 2014",50000.0,152300.0,202300.0,1984.0,4.0,No
...,...,...,...,...,...,...,...,...,...,...,...
56472,30469,"1435 WINDING CREEK DR, NOLENSVILLE",SINGLE FAMILY,157500,"May 27, 2015",NaN,NaN,NaN,NaN,NaN,No
56473,27707,"1423 WINDING CREEK DR, NOLENSVILLE",SINGLE FAMILY,145000,"March 2, 2015",NaN,NaN,NaN,NaN,NaN,No
56474,52709,"1804 GRACE POINT LN, NOLENSVILLE",VACANT RESIDENTIAL LAND,234611,"August 16, 2016",NaN,NaN,NaN,NaN,NaN,Yes
56475,54042,"1709 PARK TERRACE LN, NOLENSVILLE",VACANT RESIDENTIAL LAND,93844,"September 7, 2016",NaN,NaN,NaN,NaN,NaN,Yes
56476,54043,"1713 PARK TERRACE LN, NOLENSVILLE",VACANT RESIDENTIAL LAND,93844,"September 7, 2016",NaN,NaN,NaN,NaN,NaN,Yes

In [16]:
df.head()

,UniqueID,PropertyAddress,LandUse,SalePrice,SaleDate,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,SoldAsVacant
0,2045,"1808 FOX CHASE DR, GOODLETTSVILLE",SINGLE FAMILY,240000,"April 9, 2013",50000.0,168200.0,235700.0,1986.0,3.0,No
1,16918,"1832 FOX CHASE DR, GOODLETTSVILLE",SINGLE FAMILY,366000,"June 10, 2014",50000.0,264100.0,319000.0,1998.0,3.0,No
2,54582,"1864 FOX CHASE DR, GOODLETTSVILLE",SINGLE FAMILY,435000,"September 26, 2016",50000.0,216200.0,298000.0,1987.0,4.0,No
3,43070,"1853 FOX CHASE DR, GOODLETTSVILLE",SINGLE FAMILY,255000,"January 29, 2016",50000.0,147300.0,197300.0,1985.0,3.0,No
4,22714,"1829 FOX CHASE DR, GOODLETTSVILLE",SINGLE FAMILY,278000,"October 10, 2014",50000.0,152300.0,202300.0,1984.0,4.0,No

In [9]:
df1=pd.read_csv('../../CLINTS.CSV')
df1

,Unnamed: 0,ClientID,ClientName,ClientAddress,PhoneNumber,Email
0,0,1,"FRAZIER, CYRENTHA LYNETTE","1808 FOX CHASE DR, GOODLETTSVILLE, TN",555-942-4432,"frazier,.cyrentha lynette@google.com"
1,1,2,"BONER, CHARLES & LESLIE","1832 FOX CHASE DR, GOODLETTSVILLE, TN",555-451-0427,"boner,.charles & leslie@yahoo.com"
2,2,3,"WILSON, JAMES E. & JOANNE","1864 FOX CHASE DR, GOODLETTSVILLE, TN",555-538-2685,"wilson,.james e. & joanne@outlook.com"
3,3,4,"BAKER, JAY K. & SUSAN E.","1853 FOX CHASE DR, GOODLETTSVILLE, TN",555-938-9466,"baker,.jay k. & susan e.@gmail.com"
4,4,5,"POST, CHRISTOPHER M. & SAMANTHA C.","1829 FOX CHASE DR, GOODLETTSVILLE, TN",555-901-6774,"post,.christopher m. & samantha c.@hotmail.com"
...,...,...,...,...,...,...
29995,29995,29996,NaN,NaN,555-240-9353,nan.@google.com
29996,29996,29997,NaN,NaN,555-412-4653,nan.@yahoo.com
29997,29997,29998,NaN,NaN,555-376-1783,nan.@outlook.com
29998,29998,29999,NaN,NaN,555-380-4902,nan.@gmail.com
29999,29999,30000,NaN,NaN,555-772-4039,nan.@hotmail.com

In [10]:
df1 = df1.drop(columns=['Unnamed: 0'])

In [15]:

df1.head()

,ClientID,ClientName,ClientAddress,PhoneNumber,Email
0,1,"FRAZIER, CYRENTHA LYNETTE","1808 FOX CHASE DR, GOODLETTSVILLE, TN",555-942-4432,"frazier,.cyrentha lynette@google.com"
1,2,"BONER, CHARLES & LESLIE","1832 FOX CHASE DR, GOODLETTSVILLE, TN",555-451-0427,"boner,.charles & leslie@yahoo.com"
2,3,"WILSON, JAMES E. & JOANNE","1864 FOX CHASE DR, GOODLETTSVILLE, TN",555-538-2685,"wilson,.james e. & joanne@outlook.com"
3,4,"BAKER, JAY K. & SUSAN E.","1853 FOX CHASE DR, GOODLETTSVILLE, TN",555-938-9466,"baker,.jay k. & susan e.@gmail.com"
4,5,"POST, CHRISTOPHER M. & SAMANTHA C.","1829 FOX CHASE DR, GOODLETTSVILLE, TN",555-901-6774,"post,.christopher m. & samantha c.@hotmail.com"

In [12]:
df1.to_csv('client.csv',index=False)

In [13]:
df1['ClientName'].value_counts()

ClientName
JRG PROPERTIES, LLC                          25
HILL 33, LLC                                 24
SUMMEY, CLARENCE                             23
KHAZANOV, MAX                                21
FED DEVELOPMENT, LLC                         20
                                             ..
BURCH, CARRIE C.                              1
JACOBY, BENJAMIN A. & VANARSDAL, SARAH L.     1
HUERTA, HEIDI PATRICIA                        1
ERNST, FRANK H. & VERNA                       1
CROWLEY, CHARLES ROLAND & ANN MCDONALD        1
Name: count, Length: 12490, dtype: int64